<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lien vers des fonctionnalité</h1>
    <a href="/inscription">Inscrire un adhérent</a>
    <br>
    <a href="/preter-livre">Préter un exemplaire</a>
    <br>
    <a href="/liste-pret-prolonger">Liste des prêts à prolonger</a>
    <br>
    <a href="/liste-prets-en-cours">Liste des prêts en cours</a>
    <br>
    <a href="/api/adherent">End point adherent</a>
</body>

</html>