<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Liste des prêts des exemplaires en cours : </h1>
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Référence du livre : </th>
                <th>Nom du livre : </th>
                <th>Action : </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pretDTO : ${pretsDTO}">
                <td th:text="${pretDTO.getPret().getExemplaire().getRef()}"></td>
                <td th:text="${pretDTO.getPret().getExemplaire().getTitre()}"></td>
                <td>
                    <span th:if="${pretDTO.prolonger}">Déjà prolongé</span>
                    <a th:if="${!pretDTO.prolonger}"
                        th:href="@{/demande-prolongement/{id}(id=${pretDTO.pret.idPret})}"><button>Prolonger</button></a>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="success" th:if="${message}" th:text="${message}"></p>
    <p class="erreur" th:if="${erreur}" th:text="${erreur}"></p>
</body>

</html>