<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a th:href="@{/accueil}">Accueil</a>
    <a th:href="@{/}">Deconnexion</a>
    <h1>Liste des prêts des exemplaires en cours : </h1>
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id du livre : </th>
                <th>Titre du livre : </th>
                <th>Adherent : </th>
                <th>Date prévu rendement : </th>
                <th>Action : </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pret : ${prets}">
                <td th:text="${pret.getExemplaire().getLivre().getIdLivre()}"></td>
                <td th:text="${pret.getExemplaire().getLivre().getTitre()}"></td>
                <td th:text="${pret.getAdherent().getIdAdherent()}"></td>
                <td th:text="${#temporals.format(pret.getDateRetourPrevue(), 'dd/MM/yyyy')}"></td>
                <td>
                    <a th:href="@{/rendre-livre/{id}(id=${pret.idPret})}">
                        <button>Rendre</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="success" th:if="${message}" th:text="${message}"></p>
</body>

</html>