<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prêts en Cours</title>
    <link rel="stylesheet" th:href="@{/css/liste-pret-en-cours-biblio.css}" />
</head>

<body>
    <header class="header-links">
        <a th:href="@{/accueil}">🏠 Accueil</a>
        <a th:href="@{/}">🚪 Déconnexion</a>
    </header>

    <main class="pret-cours-container">
        <h1>Liste des prêts des exemplaires en cours</h1>

        <table class="pret-cours-table">
            <thead>
                <tr>
                    <th>ID du livre</th>
                    <th>Titre du livre</th>
                    <th>Adhérent</th>
                    <th>Date prévue de retour</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pret : ${prets}">
                    <td th:text="${pret.getExemplaire().getLivre().getIdLivre()}"></td>
                    <td th:text="${pret.getExemplaire().getLivre().getTitre()}"></td>
                    <td th:text="${pret.getAdherent().getIdAdherent()}"></td>
                    <td th:text="${#temporals.format(pret.getDateRetourPrevue(), 'dd/MM/yyyy')}"></td>
                    <td>
                        <a th:href="@{/rendre-livre/{id}(id=${pret.idPret})}" class="btn-action rendre">Rendre</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="message" th:if="${message}" th:text="${message}"></p>
    </main>

</body>

</html>
