<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Se connecter</h1>
    <div class="container">
        <form action="/se-connecter" method="post">
            <div>
                <label for="username">Nom d'utilisateur : </label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="mdp">Mot de passe : </label>
                <input type="password" name="password" id="mdp">
            </div>
            <input type="submit" value="Se connecter">
        </form>
    </div>
</body>
</html>