<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Se connecter</h1>
    <div class="container">
        <form action="/se-connecter" method="post">
            <div>
                <label for="username">Nom d'utilisateur : </label>
                <input type="text" value="tonioluc" name="username" id="username">
            </div>
            <div>
                <label for="mdp">Mot de passe : </label>
                <input value="mdp123" type="password" name="password" id="mdp">
            </div>
            <input type="submit" value="Se connecter">
        </form>
    </div>
    <p th:if="${erreur}" class="error" th:text="${erreur}"></p>

</body>

</html>