<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/preter-livre.css}" />
  <title>Prêter un Livre</title>
</head>

<body>
  <header class="header-links">
    <a th:href="@{/accueil}">🏠 Accueil</a>
    <a th:href="@{/}">🚪 Déconnexion</a>
  </header>

  <main class="pret-container">
    <h1>Prêt d'un exemplaire</h1>

    <form action="/preter-livre" th:object="${pretDTO}" method="post" class="pret-form">
      <div class="form-group">
        <label for="idLivre">Identifiant du livre :</label>
        <input list="idLivres" id="idLivre" th:field="*{idLivre}" name="idLivre" required>
        <datalist id="idLivres">
          <option th:each="livre : ${livres}" th:value="${livre.getIdLivre()}"></option>
        </datalist>
      </div>

      <div class="form-group">
        <label for="adherent">Nom d'utilisateur de l'adhérent :</label>
        <input list="adherents" id="adherent" th:field="*{adherent}" name="adherent" required>
        <datalist id="adherents">
          <option th:each="utilisateur : ${utilisateurs}" th:value="${utilisateur.getNomUtilisateur()}"></option>
        </datalist>
      </div>

      <div class="form-group">
        <label for="typePret">Type de prêt :</label>
        <select id="typePret" th:field="*{typePret}" name="typePret" required>
          <!-- <option value="" >-- Sélectionnez --</option> -->
          <option th:each="typePret : ${typePrets}" th:text="${typePret.getLibelle()}"
            th:value="${typePret.getIdTypeDePret()}"></option>
        </select>
      </div>

      <div class="form-group">
        <label for="date">Date de prêt :</label>
        <input type="date" id="date" th:field="*{dateDePret}" name="date" required>
      </div>

      <div class="form-group">
        <label for="dateRetour">Date de retour prévue (facultatif) :</label>
        <input type="date" id="dateRetour" th:field="*{dateDeRetour}" name="dateRetour">
      </div>

      <button type="submit" class="btn-submit">Valider</button>
    </form>

    <div class="messages">
      <p th:if="${erreur}" class="error-message" th:text="${erreur}"></p>
      <p th:if="${message}" class="success-message" th:text="${message}"></p>
    </div>
  </main>

</body>

</html>