<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rendre un Livre</title>
    <link rel="stylesheet" th:href="@{/css/rendre-livre.css}" />
</head>

<body>
    <header class="header-links">
        <a th:href="@{/accueil}">🏠 Accueil</a>
        <a th:href="@{/}">🚪 Déconnexion</a>
    </header>

    <main class="rendre-container">
        <h1>Formulaire de retour de livre</h1>

        <p class="info">
            📅 Date prévue de retour : <span th:text="${#temporals.format(pret.getDateRetourPrevue(), 'dd/MM/yyyy')}"></span>
        </p>

        <form th:action="@{/rendre-livre/{id}(id=${idPret})}" method="post" class="rendre-form">
            <div class="form-group">
                <label for="date">Date effective de retour :</label>
                <input type="date" id="date" name="dateDeRetour" required>
            </div>

            <button type="submit" class="btn-submit">Valider</button>
        </form>
    </main>

</body>

</html>
